body {
    display: block;
    height: 100vh;
    margin: 20px;
    background-color: white;
}

.lcd-display {
    background-color: lime;
    color: black;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    height: 85px;
    width: 192px;
    padding: 10px;
    border-radius: 5px;
}

.lcd-line {
    margin: 3px 0;
}

label {
    display: block;
    width: 300px;
}

input {
    width: 75px;
}

.long {
    width: 150px;
}
